* {
    box-sizing: border-box;
}


a:hover {
    color: black;
    text-decoration: none;
}

.g-recaptcha
{
    display: inline-block;
}

.text-xs-centre
{
    text-align: center;
}

.post-container
{
    margin-top: 50px;
}

.reply-container
{
    margin-bottom: 20px;
}

.reply
{
    margin-top: 20px;
    margin-bottom: 20px;

}

.reply-button
{
    width: 100% !important;
}
