* {
    box-sizing: border-box;
    font-size: 1em;
}

.form-row select, input {
    margin-bottom: 15px;
}
body
{
    padding-bottom: 100px;
}

li a {
    color: black;
}
li a:hover {
    color: black;
    text-decoration: none;
}

.g-recaptcha
{
    display: inline-block;
}

.text-xs-centre
{
    text-align: center;
}

.post-container
{
    margin-top: 50px;
}

.reply-container
{
    margin-bottom: 20px;
}


.reply-button
{
    width: 100% !important;
}

.list-element
{
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -4px 7px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 7px 5px -1px rgba(0,0,0,0.75);
    box-shadow: -4px 7px 5px -1px rgba(0,0,0,0.75);
}

.list-group-item
{
    border: 1px solid #000000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: purple;
    color: white;

}

.navbar, footer {
    /*background: #7b4397;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #dc2430, #7b4397); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.icon-lg {
    font-size: 3em;
}

.icon-sm {

}

#pagination
{
    margin-top: 50px;
}

.list-group {
    margin-bottom: 50px;
}

#createPostButton {
    margin-top: 15px;
}

#pageHeading {
    margin-top: 15px;
    margin-bottom: 15px;
}

img {
    height: auto;
    width: auto;
}

#badge {
    background: none;
    outline: none;
    color: white;
    border: none;
}

